{% extends '_vbase_amap.html' %}

{% load staticfiles %}

{% block stylesheet %}
<style type="text/css">
        #container {
            background-color: white !important;
        }

        #thetree {
            height: 20000px;
        }

        #MapContainer {
            height: 20000px;
        }

        #dataTableBind td {

        }
        .toolOperateClick .map-call::before{
            content:"";position:relative;display:inline-block;top:6px;left:0;width:22px;height:22px;background-image:url(/clbs/resources/img/call-off.png)!important;background-size:22px 22px
        }
        .toolOperateClick .map-call.active::before{content:"";position:relative;display:inline-block;top:6px;left:0;width:22px;height:22px;background-image:url(/clbs/resources/img/call-on.png)!important;background-size:22px 22px}

        #MapContainer {width:1600px; height: 850px; }  


.overlay2 {
    display: none;
    position: absolute;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 400px;
    /*top: -76px;*/
    left: -90px;
    user-select: none;
}

.overlay2:after {
    /*top: 100%;*/
    border: 10px solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border-top-color: rgba(255,255,255,0.9);
}
        table tr:nth-child(odd){

            background: #F1F1F1;

        }
        table tr:nth-child(even){

            background: #fffffF;


        }


        table tr{
            height: 40px;
            text-align: center;
            color: #0a0a0c;
        }

        .col-md-3{
            width: 24%;
        }
        .col-md-5{
            width: 42.555%;
        }

.overlay button + button {
    float: right;
}


.span2 {
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0099CC;
  margin-left: 10px;
}

.span1 {
  
  margin-left: 10px;
}

.span3 {
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#008000;
  margin-left: 10px;
}

.span4 {
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:red;
  margin-left: 10px;
}


.info hr {
  margin-right: 0;
  margin-left: 0;
  border-top-color: grey;
}

.info {
  display: none;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;

  position: fixed;
  top:30rem;
  background-color: white;
  width: 390px;
  /*min-width: 35rem;*/
  border-width: 0;
  /*left: 310px;*/
  height: 96px;
  box-shadow: 0 2px 6px 0 rgba(114, 124, 245, .5);
}

.info-left {
  display: none;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;

  position: fixed;
  top:30rem;
  background-color: white;
  width: 390px;
  /*min-width: 35rem;*/
  border-width: 0;
  /*left: 310px;*/
  height: 96px;
  box-shadow: 0 2px 6px 0 rgba(114, 124, 245, .5);
}

.info-seach-btn {
    margin-top: 0px;
  display: none;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
 /*margin-left: 310px;*/
  position: fixed;
  top: 30rem;
  height: 96px;
  background-color:#CD3299;
  width: auto;

    border-top-right-radius:5px;
    border-bottom-right-radius:5px;

  border-width: 0;

  box-shadow: 0 2px 6px 0 rgba(114, 124, 245, .5);
  color: white;
}

.info-seach-btn-left {
    margin-top: 0px;
  display: none;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
 /*margin-left: 70px;*/

  position: fixed;
  top: 30rem;
  height: 96px;
  background-color:#CD3299;
  width: auto;

    border-top-right-radius:5px;
    border-bottom-right-radius:5px;

  border-width: 0;

  box-shadow: 0 2px 6px 0 rgba(114, 124, 245, .5);
  color: white;
}


.info-seach-btn-input {
  margin-top: 0px;
  display: none;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
 /*margin-left: 310px;*/
  position: fixed;
  top: 30rem;
  height: 96px;
  background-color:#CD3299;
  width: auto;
  max-width: 480px;

  border-top-right-radius:5px;
  border-bottom-right-radius:5px;

  border-width: 0;

  box-shadow: 0 2px 6px 0 rgba(114, 124, 245, .5);
  color: white;
}


.info-seach-btn-input-left {
  margin-top: 0px;
  display: none;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
 /*margin-left: 310px;*/
  position: fixed;
  top: 30rem;
  height: 96px;
  background-color:#CD3299;
  width: auto;
  max-width: 480px;

  border-top-right-radius:5px;
  border-bottom-right-radius:5px;

  border-width: 0;

  box-shadow: 0 2px 6px 0 rgba(114, 124, 245, .5);
  color: white;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  /*border: 3px solid purple;*/
    border:1px solid #CDCDCD;

}

th, td {
  padding: 0px;
  height: 20px;
}

    </style>
{% endblock %}


{% block content_left %}
    <div id="content-left" class="col-md-2" style="padding-right: 0px; padding-left: 0px;">
        <div style="background-color: rgba(0, 153, 204, 1);" >
            <div style="font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';font-weight: 700;font-style: normal;font-size: 14px;color: white;margin: 10px 10px 0 20px;">全部站点(1251)
            </div>
        </div>
        <div style="background:#fff;">
            <div class="form-group">
              <label class="col-md-6 control-label" style="margin-top:10px;color: #1627e0;">在线(6)</label>
              <label class="col-md-6 control-label" style="margin-top:10px;color: grey;">离线(0)</label>
            </div>
            <div class="form-group">
              <label class="col-md-6 control-label" style="margin-top:10px;color: #f20804;">报警站点(0)</label>
              <label class="col-md-6 control-label" style="margin-top:10px;color: #02470e;">关注站点(0)</label>
            </div>
            <div class="form-group">
              <label class="col-md-6 control-label" style="margin-top:10px;margin-bottom:20px;color: #8c4380;">大用户站点(0)</label>
              
            </div>
        </div>

        <div class="col-md-12" style="padding-right: 0px; padding-left: 0px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title fwb">DMA分区</h3>
                  <div class="actions  listActions">
                    <i class="fa fa-chevron-down"></i>
                  </div>
                </div>
                <div class="panel-body" style="padding: 0px;">
                  <div class="form-group" style="margin-top: 15px;">
                    <div class="col-md-12">
                      <input id="search_condition" name="search" class="form-control" style="margin-bottom: 10px;" type="text" placeholder="请输入组织名称" />
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  panelCarBg" style="padding: 0px;height:100%!important">
                    <ul id="treeDemo" class="ztreee" style="overflow:scroll;overflow-y: auto;height:460px!important"></ul>
                  </div>

                </div>
            </div>
        </div>

        


    </div>
{% endblock content_left %}

{% block main_content %}



<div id="content-right" class="col-md-10 content-right" >
    <div  >
        <!-- <div id="js-map" class="map"></div> -->
        
      <div id="MapContainer" ></div> 

      <div class="info-seach-btn-input" id="searchBtnInput">
        <div class="col-md-10 " style="display: none;" id="searchInput">
          <div >
              <input style="cursor: pointer; background-color: #fafafa;"
                  class="form-control layer-date laydate-icon"
                  id="timeInterval" name="timeInterval" readonly />
              <label id="timeInterval-error" class="error" for="timeInterval" style="display: none;">开始时间请不要超过上个月一号</label>
          </div>
          <button id="queryClick" type="button" class="btn"  style=" background-color:#CD3299;color: #fffffF;float: right;margin-top: 1.67%;" name="0" >查询</button>
        </div>
        <div class="col-md-2" id="searchBtn">
          <div style="margin-left: 15px; "><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
          <div>搜<br>索</div>
        </div>
          
      </div>
       
      
      <input type="hidden" id="current_dma_no" name="">
      <input type="hidden" id="current_organ_id" name="">

      
        

    </div>

    <!-- dma绑定 -->
    <div style="cursor: default;" class="modal fade" id="fenceBind" aria-hidden="true" data-backdrop="static" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document" style="width:80%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">起始时间：2018-11-15 12：00:00  结束时间：2018-12-10 12：00:00</h4>
                </div>
                <div class="modal-body">
                    <!-- <div class="form-horizontal"> -->
                        <div class="row">
                            <input id="fenceID" name="search" class="form-control" type="hidden"/>
                            <input id="fenceName" name="search" class="form-control" type="hidden"/>
                            <input id="fenceInfoId" name="search" class="form-control" type="hidden"/>
                            
                            
                            <div class="col-md-4">
                              <table border="1">
                                
                                <tbody>
                                  <tr>
                                    <td >序号</td>
                                    <td >内容</td>
                                    <td >项目值</td>
                                    
                                  </tr>
                                  <tr>
                                    <td>1</td>
                                    <td>时段最小流量(m³/h)</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>时段最小流量出现时间</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>夜间允许流量</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>时段供水量(m³)</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>5</td>
                                    <td>时段漏失总量(m³/h)</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>6</td>
                                    <td>单位管长漏失水量</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>7</td>
                                    <td>时段漏失率</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>8</td>
                                    <td>时段售水量(m³)</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>9</td>
                                    <td>时段产销差水量(m³)</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>10</td>
                                    <td>时段产销差率</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>11</td>
                                    <td>时段MNF/ADD最小值</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>12</td>
                                    <td>时段最大流量(m³/h)</td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td>13</td>
                                    <td>时段最大流量出现时间</td>
                                    <td></td>
                                  </tr>
                                   
                                    

                                  
                                </tbody>
                              </table>
                              
                            </div>
                            <div class="col-md-8" >
                              
                              <div id="bindflowpress" style="height:450px;width:100%;"></div>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
                <div class="modal-footer">
        
                  <button class="btn btn-primary" type="button" id="doSubmit">
                      <strong>导出</strong>
                  </button>
                  <button id="doCloseAdd" type="button" class="btn btn-default" data-dismiss="modal">
                      <strong>关 闭</strong>
                  </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="fenceInfoTable">
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-heading" >
                      <h3 class="panel-title fwb" id="binddmaname"></h3>
                      <div class="pull-right" id="bingListClick">
                          <i class="fa fa-chevron-down"></i>
                      </div>
                  </div>
                  <div class="panel-body fixed-table-body">
                      <!--工具面板-->
                      <div class="col-md-5">
                        <table id="dataTableBind" border="1">
                          
                          <tbody>
                            <tr>
                              <td colspan="3" style="font-weight: bold">月供水(万m³)</td>
                              <td colspan="5" style="font-weight: bold">日供水(万m³)</td>
                              
                            </tr>
                            <tr>
                              <td style="font-weight: bold">前月</td>
                              <td style="font-weight: bold">上月</td>
                              <td style="font-weight: bold">本月</td>
                              <td style="font-weight: bold">类型</td>
                              <td style="font-weight: bold">11月29日</td>
                              <td style="font-weight: bold">前日</td>
                              <td style="font-weight: bold">昨日</td>
                              <td style="font-weight: bold">今日</td>
                            </tr>
                            <tr>
                              <td>32.45</td>
                              <td>35.32</td>
                              <td>16.23</td>
                              <td >供水</td>
                              <td>11256</td>
                              <td>11563</td>
                              <td>11043</td>
                              <td>584</td>
                            </tr>
                            <tr>
                              <td>32.45</td>
                              <td>35.32</td>
                              <td>16.23</td>
                              <td >进水</td>
                              <td>11256</td>
                              <td>11563</td>
                              <td>11043</td>
                              <td>584</td>
                            </tr>
                            <tr>
                              <td>32.45</td>
                              <td>35.32</td>
                              <td>16.23</td>
                              <td >出水</td>
                              <td>11256</td>
                              <td>11563</td>
                              <td>11043</td>
                              <td>584</td>
                            </tr>
                            <tr>
                              <td>32.45</td>
                              <td>35.32</td>
                              <td>16.23</td>
                              <td >漏水量</td>
                              <td>11256</td>
                              <td>11563</td>
                              <td>11043</td>
                              <td>584</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-md-3">
                        <table border="1">
                          
                          <tbody>
                            <tr>
                              <td colspan="4" style="font-weight: bold">夜间最小流量MNF(万m³)</td>
                              
                            </tr>
                            <tr>
                              <td style="font-weight: bold">11月29日</td>
                              <td style="font-weight: bold">前日</td>
                              <td style="font-weight: bold">昨日</td>
                              <td style="font-weight: bold">今日</td>
                            </tr>
                            <tr>
                              <td>96.37</td>
                              <td>96.34</td>
                              <td>90.45</td>
                              <td>85.63</td>
                            </tr>
                            <tr>
                                <td colspan="4" style="font-weight: bold">报警设定值</td>

                            </tr>
                          </tbody>
                        </table>
                        <table border="1"  style="border-top:0px">

                          <tbody>
                            

                            <tr>
                              <td style="font-weight: bold">日用水基准</td>
                              <td style="font-weight: bold">产销差基准</td>
                              <td style="font-weight: bold">MNF基准</td>
                              
                            </tr>
                            <tr>
                              <td>11563</td>
                              <td>11043</td>
                              <td>584</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-md-4" >
                        <table  style="border-bottom: 0px" >
                          
                          <tbody>
                            <tr>
                              <td style="font-weight: bold">实时流量</td>
                              <td style="background: #fffffF">12.45 m³/h</td>
                              <td style="font-weight: bold">实时压力</td>
                              <td style="background: #fffffF">0.45 MPa</td>
                              <td>2018-12-01</td>
                            </tr>
                            
                          </tbody>
                        </table>
                        <div id="recent7flowpress" style="height:201px;width:100%;border:1px solid #CDCDCD"></div>
                      </div>
                      
                  </div>
              </div>
          </div>
    </div>

</div>


    
{% endblock main_content %}

 

{% block javascript %}
  <script type="text/javascript">
     
    var  statsinfo = {{ dmastasticinfo|safe }};

    $("#rightshow").bind("click",function(){
      $("#leftshow").show();
    })
    
    
 </script>
    <!-- <script src="http://webapi.amap.com/maps?v=1.4.6&key=f034871b532a7bfb2d93f18e915b322c&plugin=AMap.DistrictSearch"></script> -->
    <script src="http://webapi.amap.com/maps?v=1.4.6&key=f034871b532a7bfb2d93f18e915b322c&plugin=AMap.DistrictSearch,AMap.MouseTool,AMap.Driving,AMap.Autocomplete,AMap.Geocoder,AMap.PlaceSearch,AMap.PolyEditor,AMap.CircleEditor,AMap.MarkerClusterer"></script>
<script type="text/javascript" src="{% static 'virvo/wro/bd-echatrs.js' %}"></script>

<script src="{% static 'virvo/wro/mapmonitor.js' %}"></script>
 
{% endblock %}