{% extends '_vbase_ol.html' %}

{% load staticfiles %}

{% block stylesheet %}

<style type="text/css">
  /* created a TESTBOX class as a PARENT ELEMENT (DIV) */
.testbox {
    background: #000000;
    color: #FFFFFF;
    padding: 10px;
    min-height: 200px;
}
.testbox .modal{ 
    color: #333;
}

/* overwriting default behaviour of Modal Popup in Bootstrap  */
body{ 
    overflow: auto !important;
}
.modal{ 
    overflow: hidden; 
}

/* created new class for targetting purpose - named ".modal2", ".modal1" */
.modal2.in{ 
    position: absolute; 
    bottom: 0; 
    right:0; 
    left: auto; 
    top: auto; 
    bottom: 0; 
    overflow: auto;
}
</style>
{% endblock %}

{% block main_content %}

<!-- <div class="row"> -->
<div id="content-right" class="col-md-10 " ">
  <!-- <div class="col-md-9"> -->
      <div class="panel panel-default">
          <div class="panel-heading" id="stretch" >
              <h3 class="panel-title fwb">实时数据列表</h3>
              <div class="actions pull-right">
                  <i class="fa chevron-down"  id="stretch-chevron" ></i>
              </div>
          </div>
          <div class="panel-body fixed-table-body"  id="stretch-body">
              <div class="ToolPanel">
                  <!-- <div class="bars pull-left">
                      <div class="btn-group pull-left barsMargin" role="group">
                         <form role="form">
                             <label><input type="text" class="Inlinesearch form-control" id="simpleQueryParam" name="simpleQueryParam" placeholder="请输入站点名称/仪表编号/SIM卡号"></label>
                             <button type="button" id="search_button" onclick="myTable.requestData()"
                                     class="btn btn-outline btn-default">搜索
                             </button>
                             <input id="hiddenText" type="text" style="display:none" />
                         </form>
                      </div>
                      <div class="dropdown pull-left">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">操作菜单<span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                              <li><a href="/devm/meter/add/" id="addId" data-toggle="modal" data-target="#commonWin"><i class="glyphicon glyphicon-plus icoPaddingLeft"></i>新增</a></li>
                              <li><a href="/clbs/m/basicinfo/equipment/device/export" id="exportId"><i class="glyphicon glyphicon-log-out icoPaddingLeft"></i>导出</a></li>
                              <li><a href="/clbs/m/basicinfo/equipment/device/import" id="importId" data-toggle="modal" data-target="#commonSmWin"><i class="glyphicon glyphicon-log-in icoPaddingLeft"></i>导入</a></li>
                              <li><a href="#" id="del_model"><i class="glyphicon glyphicon-trash icoPaddingLeft"></i>批量删除</a></li>
                              
                          </ul>
                      </div>
                  </div> -->
                  <div class="columns btn-group pull-right terminalManagement">
                      <button id="refreshTable" class="btn btn-default" type="button" name="refresh" title="刷新">
                          <i class="glyphicon glyphicon-refresh icon-refresh"></i>
                      </button>
                      <div class="keep-open btn-group" title="定制显示列">
                          <button id="customizeColumns" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                              <i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" id="Ul-menu-text">
                          </ul>
                      </div>
                  </div>
              </div>
              <table id="dataTable"
                  class="table table-striped table-bordered table-hover checkTable"
                  cellspacing="0" width="100%">
                  <thead>
                      <tr>
                            <th >序号</th>
                            <th >站点名称</th>
                            <th >所属组织</th>
                            <th >表具编号</th>
                            <th >报警</th>
                            <th >状态</th>
                            <th >口径</th>
                            <th >最新采样时间</th>
                            <th >采样间隔min</th>
                            <th >上报间隔h</th>
                            <th >瞬时流量m³/h</th>
                            <th >正向流量m³</th>
                            <th >反向流量m³</th>
                            <th >压力Mpa </th>
                            <th >基表电量%</th>
                            <th >远传电量%</th>
                            <th >信号强度%</th>
                          
                      </tr>
                  </thead>
                  <tbody>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
<!-- </div>    -->

<div class="testbox col-lg-6"> 
  <h3><strong>Test Box</strong></h3>
    
    <blockquote>
      Modal Popup should <br />open inside (or aligned to) <br />this balck DIV area.
    </blockquote>
    <button  data-target="#showalarm" data-toggle="modal"  type="button" class="btn-danger">mm</button>&nbsp;
    <!-- .modal1 -->
    <div id="showalarm" class="modal fade bs-modal-sm modal1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content"> 
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Default Modal Popup</h4>
                  </div>
                  
                  <div class="modal-body">
                    Modal 1 Popup Content
                  </div>
            </div>
        </div>
    </div>
    
    <!-- .modal2 -->
    <div class="modal bs-modal-sm col-sm-12 col-xs-12 modal2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content"> 
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Bound to <strong>Test Box</strong> DIV</h4>
                  </div>
                  
                  <div class="modal-body">
                    Modal 2 Popup Content 
                  </div>
            </div>
        </div>
    </div>
</div>
<!-- 报警信息 -->
  <div class="modal fade" id="showalarm2" tabindex="-1" aria-hidden="true" data-backdrop="static" position="absolute" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog form-horizontal" role="document">
      <div class="modal-content">
      <form id="adduserType" role="form" action="{% url 'dmam:usertypeadd' %}" method="post" class="form-horizontal">{% csrf_token %}
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
          <h4 class="modal-title">报警信息</h4>
                      <!-- <input class="hidden" id="vid9" name="vid" value="">
                      <input class="hidden" name="orderType" value="9"> -->
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group">
              <label class="col-md-4 control-label">
              <label class="text-danger">*</label> 用水性质：</label>
              <div class=" col-md-7">
                <input type="text" placeholder="请输入用水性质"  name="usertype" class="form-control"  id = "addpruserType"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">备注：</label>
              <div class=" col-md-7">
                <textarea rows="3" cols="20" placeholder="请输入用水性质说明" name="explains" class="form-control" id = "adddescription"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="addoperation" class="btn btn-primary">提交</button>
          <button type="button" class="btn btn-default btn-off" data-dismiss="modal" id="closeAddDialog">关闭</button>
        </div>
      </form>
      </div>
    </div>
  </div>


    
{% endblock main_content %}




{% block javascript %}
  <script type="text/javascript">
     
    //var  statsinfo = {{ dmastasticinfo|safe }};
    
 </script>
<script src="{% static 'virvo/wro/realtimedata.js' %}"></script>
 
{% endblock %}
