<form id="userRolesForm"
    role="form" action="/clbs/c/user/updateRolesByUser.gsp" method="post" class="form-horizontal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true">&times;</button>
        <h4 class="modal-title">分配角色 : 0951123456</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <input name="userId" value="uid=0951123456,ou=ORG_8a4843cc-7c83-42d7-91c2-36a9f37d04b1,ou=ORG_187888e1-7a09-43cf-bd46-2717b3d4382d,ou=organization" type="hidden" /> <input
                name="uid" value="0951123456" type="hidden" />
            <div class="col-xs-12">
                <ul class="widget-todo">
                    <li class="clearfix">
                        <label class="checkbox-outline"> 
                            <input type="checkbox"
                                name="roleNames" disabled
                                id="普通管理员" value="POWER_USER" />
                            <label readonly style="text-decoration: none;">普通管理员</label>
                        </label> 
                    
                         
                        
                    </li>
                    <li class="clearfix">
                         
                    
                        <label class="checkbox-outline"> 
                            <input type="checkbox"
                                name="roleNames" id="一般管理员" value="ROLE_1e3bb126-b6d1-4670-9e51-5d5e8235f807" />
                            <label style="text-decoration: none;" onclick = "checkValue(this)">一般管理员</label>
                        </label> 
                        
                    </li>
                    <li class="clearfix">
                         
                    
                        <label class="checkbox-outline"> 
                            <input type="checkbox"
                                name="roleNames" id="轨迹" value="ROLE_3f42ec7f-10d6-4a12-ab37-9c9a652434b9" />
                            <label style="text-decoration: none;" onclick = "checkValue(this)">轨迹</label>
                        </label> 
                        
                    </li>
                </ul>
                <input id="roleIds" name="roleIds" type="hidden" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="doSubmitRoles" class="btn btn-primary" type="button">
            <strong>提 交</strong>
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
            <strong>关 闭</strong>
        </button>
    </div>
</form>
<script>
function checkValue(clickLable){
    var checkbox = $(clickLable).parent().find('input')[0];
    if (checkbox.checked == true) {
        checkbox.checked = false;
    }else {
        checkbox.checked = true;
    }
}

(function($,window){
    var Ids;
    var userRoles = {
        doSubmit: function(){
            var roleIds = [];
            $("input[name='roleNames']:checked").each(function(index,item){
                var roleName = $(this).attr("value");
                roleIds.push(roleName);
             });
            if(roleIds.join(",") == Ids){
                $("#commonSmWin").modal("hide");//关闭弹窗
                return;
            }else{
                $("#roleIds").val(roleIds.join(","));
//              $("#userRolesForm").submit();
                $("#userRolesForm").ajaxSubmit(function (data) {
                    if(typeof(data) == "object" &&
                        Object.prototype.toString.call(data).toLowerCase() == "[object object]" && !data.length){//如果后台返回的数据是json数据,则直接过去msg
                        layer.msg(data.msg,{move:false});
                    }else{
                        var dataset = $.parseJSON(data);//转为json对象
                        layer.msg(dataset.msg,{move:false});
                    }
                    $("#commonSmWin").modal("hide");//关闭弹窗
                    myTable.refresh();//刷新列表
                });
            }
        },
    }
  
    $(function(){
        myTable.add('commonSmWin', 'userRolesForm', null, null);
        $("#doSubmitRoles").on("click",userRoles.doSubmit);
        var startRoleIds = [];//窗体加载时多选框的值
        $("input[name='roleNames']:checked").each(function(index,item){
            var roleName = $(this).attr("value");
            startRoleIds.push(roleName);
        });
        Ids = startRoleIds.join(",");
    })
})($,window)
</script>