{% load staticfiles %}
<form id="editForm" role="form" action="{% url 'entm:groupedit' object.cid %}" method="post"
      class="form-horizontal">{% csrf_token %}
    <div class="modal-header">
        <button type="button" id="doXEdit" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">编辑组织</h4>
    </div>
    <div class="modal-body">
        <input type="text" class="hidden" id="cid" name="cid" value="{{ form.cid.value }}"/>
        <input type="text" class="hidden" id="pid" name="pId" value="{{ form.pId.value }}"/>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-3 control-label"><label class="text-danger">*</label> 组织名称：</label>
                    <div class="col-md-7">
                        <input id="name" onkeydown="if(event.keyCode==32) return false" placeholder="请输入组织名称"
                               type="text" maxlength="50" class="form-control" name="name" value="{{ form.name.value|default:'' }}"/>
                        <label id="name-error" style="display: none" class="error" for="name">不能为空</label>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label class="col-md-3 control-label"> 组织机构代码：</label>
                    <div class="col-md-7">
                        <input placeholder="请输入9位组织机构代码或18位统一社会信用代码" type="text"
                               maxlength="18" class="form-control" id="organizationCode" name="organizationCode" value=""/>
                    </div>
                </div> -->
                <div class="form-group">
                    <label class="col-md-3 control-label">注册日期：</label>
                    <div class="col-md-7">
                        <input id="registerDateEdit" style="cursor: pointer; background-color: #fafafa;"
                               class="form-control layer-date laydate-icon"
                               placeholder="请选择注册日期" name="register_date" value="{{ form.register_date.value|default:'' }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">组织机构性质：</label>
                    <div class="col-md-7">
                        <select class="form-control" id="operation" name="attribute">
                            <option selected="selected" value="{{ form.attribute.value }}">{{ form.attribute.value }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"> 负责人：</label>
                    <div class="col-md-7">
                        <input placeholder="请输入负责人" type="text" maxlength="50"
                               class="form-control" id="principal" name="owner_name" value="{{ form.owner_name.value|default:'' }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"> 电话号码：</label>
                    <div class="col-md-7">
                        <input placeholder="请输入电话号码" type="text" maxlength="11"
                               class="form-control" id="phone" name="phone_number" value="{{ form.phone_number.value|default:'' }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"> 地址：</label>
                    <div class="col-md-7">
                        <input maxlength="50" placeholder="请输入地址" type="text"
                               class="form-control" id="address" name="firm_address" value="{{ form.firm_address.value|default:'' }}"/>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label class="col-md-3 control-label">描述：</label>
                    <div class="col-md-7">
                        <textarea maxlength="50" placeholder="请输入描述" type="text"
                                  class="form-control" id="description" name="description"></textarea>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="doSubmitEdit" class="btn btn-primary" type="button">
            <strong>提 交</strong>
        </button>
        <button id="doCloseEdit" type="button" class="btn btn-default" data-dismiss="modal">
            <strong>关 闭</strong>
        </button>
    </div>
</form>

<script src="{% static 'virvo/resources/js/sendAjax.js' %}"></script>
<script>
    $(function () {

            //提交方法
            function doSubmit() {
                if (validates()) {
                    if($("#name").val()==''||$("#name").val()==null){
                        $("#name-error").show();
                        return false;
                    }
                    submissionFlag = true;
                    $("#editForm").ajaxSubmit(function (data) {
                        var result = eval(data);// JSON.parse(data);
                        if (result.success) {
                            /* 关闭弹窗 */
                            $("#commonWin").modal("hide");
                        } else {
                            layer.msg(result.msg);
                        }

                    });
                }
            }

            //表单验证
            function validates() {
                return $("#editForm").validate({
                    rules: {
                        name: {
                            required: true,
                            maxlength: 25
                        },
                        // organizationCode: {
                        //     doubles: true,
                        //     maxlength: 20,
                        //     remote: {
                        //         type: "post",
                        //         async: false,
                        //         url: "/clbs/c/group/uniquenessOrganizationCode",
                        //         data: {
                        //             organizationCode: function () {
                        //                 if (organizationCodes == $("#organizationCode").val()) {
                        //                     return null;
                        //                 } else {
                        //                     return $("#organizationCode").val();
                        //                 }
                        //             }
                        //         },
                        //     }
                        // },
                        register_date: {
                            selectRegDate: true,
                        },
                        owner_name: {
                            isCN: true,
                            // required : true,
                            maxlength: 20
                        },
                        phone_number: {
                            // required : true,
                            isTel: true
                        },
                        firm_address: {
                            // required : true,
                            maxlength: 50
                        },
//        description:{
//          maxlength : 255
//        }
                    },
                    messages: {
                        name: {
                            required: "\u4E0D\u80FD\u4E3A\u7A7A",
                            maxlength: "\u957F\u5EA6\u4E0D\u8D85\u8FC725\u4F4D"
                        },
                        // organizationCode: {
                        //     doubles: "\u8BF7\u8F93\u5165\u6B63\u786E\u7684\u7EC4\u7EC7\u7ED3\u6784\u4EE3\u7801(9\u4F4D\u6570\u5B57)\u6216\u800518\u4F4D\u7684\u7EDF\u4E00\u793E\u4F1A\u4FE1\u7528\u4EE3\u7801(\u6570\u5B57\u548C\u5927\u5199\u5B57\u6BCD\u7684\u7EC4\u5408)",
                        //     maxlength: "\u957F\u5EA6\u4E0D\u8D85\u8FC718\u4F4D",
                        //     remote: "\u7EC4\u7EC7\u673A\u6784\u4EE3\u7801\u5DF2\u88AB\u4F7F\u7528\uFF0C\u8BF7\u91CD\u65B0\u8F93\u5165"
                        // },
                        register_date: {
                            selectRegDate: "\u6CE8\u518C\u65E5\u671F\u5FC5\u987B\u5C0F\u4E8E/\u7B49\u4E8E\u4ECA\u5929"
                        },
                        owner_name: {
                            isCN: "\u8BF7\u8F93\u5165\u4E2D\u6587\u540D/\u82F1\u6587\u540D.\u4E0D\u8981\u4E71\u641E\u5466",
                            maxlength: "\u957F\u5EA6\u4E0D\u8D85\u8FC720\u4F4D"
                        },
                        phone_number: {
                            // required : "不能为空！",
                            isTel: "\u770B\u8D77\u6765\u4E0D\u50CF\u624B\u673A\u53F7\u5462"
                        },
                        firm_address: {
                            maxlength: "\u957F\u5EA6\u4E0D\u8D85\u8FC750\u4F4D"
                        }
                    }
                }).form();
            }

            var options = $('#operation option:selected').text();//页面加载时select控件默认选中的option的文本

            if (options == null || options == undefined || options == "") {
                $('#operation option:selected').text("请选择运营资质类别");
            }
            var organizationCodes = $("#organizationCode").val();//页面加载时organizationCode

            var licenses = $("#license").val();

            laydate.render({elem: '#registerDateEdit', theme: '#6dcff6', trigger: 'click'});

            $.ajax({
                url: 'group/findOperations',
                type: 'POST',
                data: null,
                async: false,
                dataType: 'json',
                success: function (data) {
                    if (data.success == true) {
                        var operations = [];
                        if (data.obj.operation != null || data.obj.operation.length > 0) {
                            var calldata = data.obj.operation;
                            var selector = $("#operation");
                            for (var i = 0; i < calldata.length; i++) {
                                if (calldata[i].operationType != options) {
                                    selector.append('<option  value="' + calldata[i].operationType + '">' + calldata[i].operationType + '</option>');
                                }
                            }
                        }
                    }
                }
            });

            //运营资质类别(mysql)和组织(ldap)是两个数据库,如果添加组织时使用的运营资质类别被删除，那么修改组织时，该运营资质类别还会出现在页面上，这不合理。
            //所以在页面加载后,获取option的默认选中的值，然后去数据库(mysql)查,如果没有,则将其添加组织时使用的后被删除的运营资质类别移除
            // $.ajax({
            //     url: '/clbs/c/group/findOperationByoperation',
            //     type: 'POST',
            //     data: {"type": options},
            //     async: true,
            //     dataType: 'json',
            //     success: function (datas) {
            //         if (datas.success == true) {//说明数据库没有这条数据了
            //             if (datas.obj == null) {
            //                 $("#operation option[value=" + options + "]").remove();
            //                 $("#operation").val("");
            //             }
            //         } else {
            //             if (datas.obj != null) {
            //                 $("#operation").val(datas.obj.operation.operationType);
            //             }
            //         }
            //     }
            // });

            /*
            var rules = {
                name:{
                    required : true,
                    maxlength : 25
                },
                organizationCode:{
                    doubles:true,
                    maxlength:20,
                    remote: {
                        type:"post",
                        async:false,
                        url:"/clbs/c/group/uniquenessOrganizationCode" ,
                        data:{
                            organizationCode:function(){
                                if(organizationCodes==$("#organizationCode").val()){
                                    return null;
                                }else{
                                    return $("#organizationCode").val();
                                }
                            }
                         },
                      }
                },
                registerDate:{
                    selectRegDate:true,
                },
                principal:{
                    isCN:true,
                   // required : true,
                    maxlength : 20
                },
                phone:{
                   // required : true,
                    isTel : true
                },
                address:{
                   // required : true,
                    maxlength : 50
                },
        //        description:{
        //          maxlength : 255
        //        }
            };
            var messages = {
                name:{
                    required : "\u4E0D\u80FD\u4E3A\u7A7A",
                    maxlength : "\u957F\u5EA6\u4E0D\u8D85\u8FC725\u4F4D"
                },
                organizationCode:{
                    doubles:"\u8BF7\u8F93\u5165\u6B63\u786E\u7684\u7EC4\u7EC7\u7ED3\u6784\u4EE3\u7801(9\u4F4D\u6570\u5B57)\u6216\u800518\u4F4D\u7684\u7EDF\u4E00\u793E\u4F1A\u4FE1\u7528\u4EE3\u7801(\u6570\u5B57\u548C\u5927\u5199\u5B57\u6BCD\u7684\u7EC4\u5408)",
                    maxlength : "\u957F\u5EA6\u4E0D\u8D85\u8FC718\u4F4D",
                    remote : "\u7EC4\u7EC7\u673A\u6784\u4EE3\u7801\u5DF2\u88AB\u4F7F\u7528\uFF0C\u8BF7\u91CD\u65B0\u8F93\u5165"
                },
                registerDate:{
                    selectRegDate : "\u6CE8\u518C\u65E5\u671F\u5FC5\u987B\u5C0F\u4E8E/\u7B49\u4E8E\u4ECA\u5929"
                },
                principal:{
                    isCN:"\u8BF7\u8F93\u5165\u4E2D\u6587\u540D/\u82F1\u6587\u540D.\u4E0D\u8981\u4E71\u641E\u5466",
                    maxlength :  "\u957F\u5EA6\u4E0D\u8D85\u8FC720\u4F4D"
                },
                phone:{
                    // required : "不能为空！",
                    isTel : "\u770B\u8D77\u6765\u4E0D\u50CF\u624B\u673A\u53F7\u5462"
                },
                address:{
                    maxlength : "\u957F\u5EA6\u4E0D\u8D85\u8FC750\u4F4D"
                }
            }
            myTable.add('commonWin', 'editForm', rules, messages);*/

            $("#doSubmitEdit").on("click", doSubmit);

            $('input').inputClear();
        }
    );
</script>