{% load staticfiles %}
<!-- 新增站点管理 -->
  
    <form id="adduserType" role="form" action="" method="post" class="form-horizontal">{% csrf_token %}
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
          <h4 class="modal-title">DMA分区站点配置</h4>
                      <!-- <input class="hidden" id="vid9" name="vid" value="">
                      <input class="hidden" name="orderType" value="9"> -->
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3" style="padding-right: 0px; padding-left: 0px;">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title fwb">站点列表</h3>
                          
                        </div>
                        <div class="panel-body" style="padding: 0px;">
                          <div class="form-group" style="margin-top: 15px;">
                            <div class="col-md-12">
                              <input id="search_condition" name="search" class="form-control" style="margin-bottom: 10px;" type="text" placeholder="请输入组织名称" />
                            </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  panelCarBg" style="padding: 0px;height:80%!important">
                            <ul id="stationtreeDemo" class="ztreee" style="overflow:auto;height:600px!important"></ul>
                          </div>
                        </div>
                      </div>
                    </div>

            
                    <div class="col-md-1" style="padding-right: 0px; padding-left:0px;">
                        <div style="margin-top: 100px;margin-left: 20px;"><button id="export" type="button" style="background-color: white;border-width: 0px;"><img src="/static/virvo/images/export.png"></button></div>
                        <div style="margin-top: 10px;margin-left: 20px;"><button id="import" type="button" style="background-color: white;border-width: 0px;"><img src="/static/virvo/images/import.png"></button></div>
                        

                    </div>
                    <div class="col-md-8 real-time-command-list" style="padding-right: 0px; padding-left:10px;">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="stretch2">
                                <h3 class="panel-title fwb">计量分区内站点列表</h3>
                                
                            </div>
                            <div class="panel-body mileage-Content"  id="stretch2-body">
                              <div class="ToolPanel">
                                
                                <div class="columns btn-group pull-right refShowRight">
                                    <button type="button" id="addoperation" class="btn btn-primary">保存</button>
                                    <button type="button" class="btn btn-default btn-off" data-dismiss="modal" id="closeAddDialog">取消</button>
                                </div>
                              </div>
                              
                                <table id="stationdataTable" 
                                    class="table table-striped table-bordered table-hover "
                                    cellspacing="0" width="100%">
                                    <thead>
                                      <tr>
                                        <th><input type="checkbox" id="checkAllTwo"  onclick=""></th>
                                        <th>序号</th>
                                        <th>分区名称</th>
                                        <th>站点名称</th>
                                        <th>类型</th>
                                        
                                      </tr>
                                    </thead>
                                  </table>
                                
                               
                                
                            </div>
                        </div>
                    </div>
                    
                    
                </div>

            </div>
        </div>
        
    </form>
      

<script src="{% static 'virvo/resources/js/zTree/js/ztreeSearch.js' %}"></script>

<script src="{% static 'virvo/wro/districtassignstation.js' %}"></script>
